/** Destaque **/
.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: 10em;
}

.destaque p {
  width: 30em;
}

.destaque p:first-child {
  width: 30em;
  font-size: 1.3em;
  line-height: 1.1;
}

.destaque p:first-child:first-line {
  font-size: 2.2em;
  font-weight: bold;
}

.destaque button {
  margin-top: 1em;
  background: $cor-padrao;
  border: 0;
  padding: .6em;
  font-size: 1.2em;
  // Adicionando um mixin (@include é para mixin) e passando um valor literal para ele como argumento
  @include borda-arredondada(50px);  
  
  // Adicionando um placeholder (@extend é para placeholder) e deve-se usar o sinal de % antes do nome
  // No arquivo final (.css) ele vai juntar todos os caras que tem o mesmo place holder e criar uma declaração
  // para todos eles, para vitar que o mesmo trecho de código seja repetido em vários lugares
  @extend %sombra-padrao;
  font-weight: bold;
}